body{
  background: white;
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}
ul{
  list-style: none;
  background: #22438c;
  margin: 0px;
  
}
ul li{
  display: inline-block;
  position: relative;
}
ul li a{
  display: block;
  padding: 8px 10px;
  color: skyblue;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}
ul li ul.dropdown li{
  display: block;
  
}
ul li ul.dropdown{
  width: 60%;
  background: #22438c;
  position: absolute;
  display: none;
  align-items: center;
  
  
}
ul li a:hover{
  background: #112c66;
  width: 100%;
  
}
ul li:hover ul.dropdown{
  display: block;
}
.hintro {
  margin: 20px;
  padding: 250px 1px;
  background: rgba(0,0,0,.75);
  border-radius: 6px;
  display: flex;
  align-self: center;
  
}
.hintro h1{
  color: deepskyblue;
  font-size: 45px;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  
  
}
sa re a{
  color: orange;
  position: absolute;
  top:40%;
  left: 38%;
  font-size: 25px;
  text-shadow: 0 0 10px orange,
  0 0 50px green,
  0 0 100px orange;
}
sa a {
  color: orange;
  position: absolute;
  top:65%;
  left:40%;
  font-size: 25px;
  text-shadow: 0 0 10px orange,
  0 0 50px orange,
  0 0 100px orange;
}
sa o{
  color: ghostwhite;
  text-shadow: 0 0 10px ghostwhite,
  0 0 50px ghostwhite,
  0 0 100px ghostwhite;
  position: absolute;
  top: 52%;
  left: 47%;
  font-size: 25px;
}