body{
  background-color: rgba(0,0,0,.95);
}
.introl h1{
  color: deepskyblue;
  text-shadow: 0 0 10px deepskyblue,
  0 0 50px deepskyblue,
  0  0 100px deepskyblue;
  font-size: 70px;
  position: relative;
  top:25%;
  left:18%;
  text-decoration-style: dashed;
}
.form input{
  padding: 20px 50px;
  position: relative;
  left:5%;
  color: white;
  box-shadow: 0 0 10px green;
  background: transparent;
  
}
.btnl button{
  background: transparent;
  box-shadow: 0 0 10px green;
  position: relative;
  left: 27%;
  top:70%;
  padding: 15px 45px;
  color: deepskyblue;
  font-size: 20px;
  border-top-left-radius:1px; 
}
.btnl button:onclick{
  background: green;
  box-shadow: 0 0 10px green,
  0 0 50px green,
  0 0 100px green,
  0 0 150px green;
}
.form a{
  color: rgba(0, 0, 0,.95);
}
.dummy a{
  color: rgba(0, 0, 0,.95);
}
.intros h1{
  color:yellow;
  text-shadow: 0 0 10px yellow,
  0 0 50px yellow,
  0 0 100px yellow;
  font-size: 50px;
  position: relative;
  top:20%;
  left: 22%;
  
}
.or a{
  position: relative;
  top:10%;
  left:20%;
  font-size: 10px;
  color: green;
}
.bubble span
{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px #4fc3dc44,
  0 0 50px #4fcedc,
  0 0 100px #4fcedc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s/var(--1))
}
.bubble span:nth-child(even)
{
  background: #ff2d75;
  box-shadow: 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes-animate
{
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(1);
  }
}
.forms{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.intros h1{
  color: green;
  text-shadow:0 0 10px green,
  0 0 50px green,
  0 0 100px green;
  font-size: 40px;
  position: relative;
  top: 20%;
  left: 40%;
}
.forms input{
  position: relative;
  top:10%;
  left:30%;
  color: white;
}
.forms input:onclick{
  background: white;
  color: black;
  
}